* {
    background-color: thistle;
}

.box {
    display: inline-block;
    /* justify-content: center; */
    background-color: blue; 
    height: 100px; 
    width: 100px; 
    text-align: right; 
}

#test {
    
    height: 100px; 
    width: 100px; 
    border: 2px solid cadetblue;
    /* background-color: rgb(118, 191, 84); */
    background-image: url("Images/pawn_blue.jpg");
    background-size: 100px;
} 