* {
    background-color: rgb(81, 85, 88);
}

body {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#backgroundImage {
    width: 100%;
    height: 100%;
}

.boxOuter {
    background-color: rgb(221, 226, 238); 
    display: flex;
    justify-content: flex-end;
    height: 100px; 
    width: 100px; 

}

.current-pos {
    background-color: blue; 
    display: hidden; 
    height: 100px; 
    width: 100px; 
    text-align: right; 
}

#test {
    height: 100px; 
    width: 100px; 
    border: 2px solid cadetblue;
    background-image: url("Images/pawn_blue.jpg");
    background-size: 100px;
} 

#game-board {
    border: 5px solid cadetblue;
    height: 1000px;
    width: 1000px;
    display: flex; 
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: 25px 100px; 
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.4);
}

.row-standard {
    display: flex; 
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.player {
    height: 50px; 
    width: 50px; 
    z-index: 2; 
    margin: 20px 10px 3px 3px;
    position: absolute; 

}

#player-blue {
    height: 50px; 
    width: 50px; 
    z-index: 2; 
    margin: 20px 10px 3px 3px;
    position: absolute; 
}
#player-red {
    height: 50px; 
    width: 50px; 
    z-index: 2; 
    margin: 20px 10px 3px 3px;
    position: absolute; 
}
#player-green {
    height: 50px; 
    width: 50px; 
    z-index: 2; 
    margin: 20px 10px 3px 3px;
    position: absolute; 
}
#player-black {
    height: 50px; 
    width: 50px; 
    z-index: 2; 
    margin: 20px 10px 3px 3px;
    position: absolute; 
}

#waitingArea {
    background-color: rgb(29, 94, 131);
    height: 100px; 
    width: 400px; 
    margin: 10px; 
    display: flex; 
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
  
}
#waitingArea > img {
    margin: 10px; 
    display: inline-block; 
}

.playerSeat {
    height: 80px; 
    width: 80px; 
    background-color: rgb(206, 213, 228);
    display: flex; 
    justify-content: center;
}

#radioContainer {
    background-color: rgb(206, 213, 228);
}

.labels {
    background-color: rgb(206, 213, 228);
}

.players {
    background-color: rgb(206, 213, 228);
}

.playerNames {
    background-color: rgb(206, 213, 228);
}

.modalMainDiv {
    background-color: rgba(0,0,0,0.4); 
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    display: none;  
}

#modal1InitTextBox {
    max-width: 1400px;
    height: 40%;
    width: 60%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 3;
    margin: 10% auto auto auto; 
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    border-radius: 25px;
    overflow: auto; 
}

#modal1MidTextBox {
    max-width: 1400px;
    height: 40%;
    width: 60%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 3;
    margin: 10% auto auto auto; 
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    border-radius: 25px;
    overflow: auto; 
}

#modal1TextBox {
    max-width: 1400px;
    height: 40%;
    width: 60%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 3;
    margin: 10% auto auto auto; 
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    border-radius: 25px;
    overflow: auto; 
}

#modal2TextBox {
    max-width: 1400px;
    height: 60%;
    width: 60%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 3;
    margin: 10% auto auto auto; 
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    border-radius: 25px;
    overflow: auto; 
}

#modal3TextBox {
    max-width: 1400px;
    height: 60%;
    width: 60%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 3;
    margin: 10% auto auto auto; 
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    border-radius: 25px;
    overflow: auto; 
}

#modal4TextBox {
    max-width: 1400px;
    height: 60%;
    width: 60%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 3;
    margin: 10% auto auto auto; 
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    border-radius: 25px;
    overflow: auto; 
}

h1 {
    text-align: center;
}

.modal {
    background-color: rgb(206, 213, 228);
}

#closeModal1-button {
    max-width: 100px;
}

#nameContainer {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

#currentPlayerDisplay {
    height: 100px; 
    width: 400px;
    display: flex; 
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(29, 94, 131);
    font-size: 50px; 
    background-color: white;
}

#title {
    width: 60%; 
    margin: 20px; 
}

.sections {
    display: flex; 
}

#mainContainer {
    flex-direction: column;
    background-color: rgb(29, 94, 131);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    padding: 10px; 
}

#topDisplay {
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

#scoreboardBlock {
    color: rgb(185, 188, 191); 
}

button {
    background-color: rgb(185, 188, 191);    
}

#imageContainer {
    justify-content: center;
    background-color: rgb(29, 94, 131);

}

#scoresList {
    list-style-type: none;
    justify-content: center;
}

#scoreboard {
    justify-content: center;
}

#navButtons {
    justify-content: space-between;
}

#bottomSection {
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.4);
}

#playTurn-button {
    height: 75px;
    width: 150px;
    margin-left: 50px; 
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
}

#demo-button {
    height: 75px;
    width: 150px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
}

#rollDisplay {
    height: 100px;
    width: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
    margin-left: 50px;
}

.rollDisplay {
    background-color: white;
}
#rollNumber {
    height: 50px;
    width: 100px; 
    text-align: center;
}

#rollLabel {
    margin: 10px 0; 
}